:root{
    --primarycolor:red;
    --secondarycolor:#f7bcf7;
    --ligthcolor:#ffffff;
    --bgcolor-1:#8f0654;
    --bgcolor-2:#a2c2cd;
    --padding:8%;

}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-family:"josefin sans",sans-serif;
    font-size:16px;
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;

}
span{
    color:whitesmoke;
}
h2{
    font: size 2.2rem;
    cursor: pointer;
}
nav{
    padding-top:2.2rem;
    padding-left:var(--padding);
    padding-right:var(--padding);
    display:flex;
    justify-content: space-between;
    align-items:center;
}
nav ul li{
    list-style-type: none;
    display:inline;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color:var(--ligthcolor);
    text-decoration:none;
    text-transform: capitalize;
    transition:0.4s;
}
nav ul li a:hover{
    color:var(--primarycolor);

}
.bouton {
    background-color: var(--primarycolor);
    color:var(--ligthcolor);
    text-decoration: none;
    font-weight:bold;
    padding: 0.8rem 1.87rem;
    border-radius: 30px;
    border:2px solid var(transparent);
    transition:0.4s;
}
.bouton:hover {
    background-color: transparent;
    border:2px solid var(--primarycolor);
}
.content {
    flex-grow: 1;
    padding:0 var(--padding);
    display: flex;
    align-items: center;
}
h1{
    font-size:4.65rem;
    margin:1.7rem 0;

}
h2{
    font-size:1.65rem;
  

}
h3{
    font-size:1.25rem;
    letter-spacing:0.12rem;
    

}













